<h1>{{professor.name}}'s Page</h1>

ID number: {{professor.id}} <br>
Department: {{professor.college}} <br>
Tenure Status: {{professor.tenured}} <br>
Office Building: {{professor.building}} <br>
Boss: {{professor.boss}}

<h3>Classes</h3>
<table>
    <thead>
        <th>
            Course Name
        </th> 
        <th>
            Course Reference number
        </th>
    </thead>
    <tbody>
        {{#each class}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{id}}
            </td>
            <td>
                <button onclick="deleteClass({{../professor.id}}, {{id}})">Drop</button>
            </td>
        </tr>
        {{/each}}
    </tbody> 
</table>