
<h1>All Professors</h1>
<h3>Sign Up:</h3>
<form id="signup" action='/professors' method="POST">
Name: <input id='name' type= "text" name ='professor_signup_name' value =""> <br>
College: <input id='major' type="text" name ='professor_signup_major' value =''><br>
Office Building: <select name='professor_signup_building'>
    {{#each buildings}}
        <option value="{{Name}}">{{Name}}</option>
    {{/each}}
    </select> <br>
Tenure status: <select name='professor_tenure_status'>
        <option value="0">Untenured</option>
        <option value="1">Tenured</option>
    </select> <br>
Boss: <select name="professor_signup_boss">
        <option value="NULL">None.</option> 
        {{#each professors}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}

    </select>
    <input type="submit" value="Submit">
</form>
<br>
<br>
<form id='search_classes' action='' method=''>
    <label> Search Classes by Name:</label>
    <input id='name_search_string' type='text' name='name_search_string' value=''>
    <input type="button" value="Search" onclick="searchProfessorByName()">
</form>
<h3>All Professors</h3>
<table>
    <thead>
        <th>
            Name
        </th>
        <th>
            College
        </th>
        <th>
            Office Building
        </th>

    </thead>
    <tbody>
        {{#each professors}}
        <tr>
            <td>
                <a href="/professors/{{id}}">{{name}}</a>
            </td>
            <td>
                {{college}}
            </td> 
            <td>
                {{building}}

            </td>
            <td>
                <button onclick="deleteProfessor({{id}})">Remove</button>
            </td>
        </tr>
        {{/each}}
    </tbody> 
</table>

