<h1>{{student.name}}'s Page</h1>

Id number: {{student.id}} <br>
major: {{student.major}} <br>
Building of Residence: {{student.building}} <br>

<h3>Enrolled Classes:</h3>
<table>
    <thead>
        <th>
            Course Name
        </th>
        <th>
            Course Reference Number
        </th>
    </thead>
    <tbody>
        {{#each classes}}
        <tr>
            <td>
                {{Name}}
            </td>
            <td>
                {{id}}
            </td>
            <td>
                <button onclick="deleteClass({{../student.id}},{{id}})">Drop</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h3>Add Course</h3>
<form id="add_course" action="/students/AddCourse" method="POST">
    Student id: {{student.id}}
    <input type = "hidden" name="student_id" value="{{student.id}}"><br>
    Course: <select name="course_id">
        {{#each class}}
        <option value="{{id}}">{{Name}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Submit">
</form>
<br>

<h3>Modify Student</h3>
<form id='modify_student' action='/students/Modify' method="POST">
    Student id: {{student.id}} <br>
    <input type = "hidden" name = 'student_id' value = '{{student.id}}'<br>
    Name: <input name='student_name' type="text" value='{{student.name}}'> <br>
    Major: <input name="student_major" type="text" value='{{student.major}}'><br>
    Building of Residence: <select name="stu_residence">
        {{#each buildings}}
        <option value="{{Name}}">{{Name}}</option>
        {{/each}}
    </select><br>
    <input type='submit' value="Submit">
</form> 